@model IEnumerable<Flight_Tracker.Models.FlightInfo>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAirport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Airline)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AirportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArrivalAirportCode)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Customer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumber)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirport)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Delay)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AirportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArrivalAirportCode)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualDeparture)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EstimatedArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ActualArrival)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Customer.Id)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
