@model Flight_Tracker.Models.Customer
@{
    ViewData["Title"] = "FlightInfo";
}
    <style>
        #clock {
            color: black;
            font-size: 56px;
            text-align: center;
            padding-top: 40px;
            padding-bottom: 40px;
        }
    </style>
<br />
    <div class="border backgroundWhite">
        <div class="row">
            @*<div class="col-6"><h1>Hello @Model.C</h1></div>*@
            <div class="col-6">
                <h2>@Html.DisplayFor(Model => Model.Airline) Flight: @Html.DisplayFor(Model => Model.FlightNumber)</h2>
            </div>
        </div>
        <br />
        <div id="clock"></div>
        <div class="container">
            <div class="row">
                <span><strong>Departure:</strong> @Html.DisplayFor(Model => Model.Airport) @Html.DisplayFor(Model => Model.EstimatedDeparture)</span>
            </div>
            <div class="row">
                <span><strong>Arrival:</strong> @Html.DisplayFor(Model => Model.ArrivalAirport) @Html.DisplayFor(Model => Model.EstimatedArrival)</span>
            </div>
            <div class="row">
                <span><strong>Estimated Transit Time to</strong> @Html.DisplayFor(Model => Model.Airport): @Html.DisplayFor(Model => Model.duration) minutes</span>
            </div>
            @if (ViewBag.TransitTime == null)
            {
                <form asp-action="FlightInfo" method="post">
                    <div>
                        <label for="time">Select Terminal Arrival Time:</label>
                        <input type="time" name="time" id="time" />
                        <button type="submit" value="Submit" class="btn-primary">Submit</button>
                    </div>
                </form>
            }
            else
            {

            }

            @if (Model.TSAWaitTimeOnArrival != null)
            {
                <div class="row">
                    <span><strong>Estimated Total Transit Time:</strong> @ViewBag.TransitTime minutes</span>
                </div>
            }

        </div>
    </div>
    <script>
        function currentTime() {
            var date = new Date();
            var hour = date.getHours();
            var min = date.getMinutes();
            var sec = date.getSeconds();
            var timeOfDay;
            if (hour >= 12) {
                timeOfDay = "PM"
            }
            else {
                timeOfDay = "AM"
            }
            if (hour == 0) {
                hour = 12;
            }
            if (min < 10) {
                min = "0" + min;
            }
            if (sec < 10) {
                sec = "0" + sec;
            }
            if (hour > 12) {
                hour = hour - 12;
            }

            var time = hour + " : " + min + " : " + sec + " " + timeOfDay;
            document.getElementById("clock").innerHTML = time;
            var t = setTimeout(function () { currentTime() }, 1000);
        }
        currentTime();
    </script>