@model Flight_Tracker.Models.Customer

@{
    ViewData["Title"] = "Home";
}


<br/>

<div class="border backgroundWhite">
    <div class="row">
        @*<div class="col-6"><h1>Hello @Model.C</h1></div>*@
        <div class="col-6">
            <h2 class="text-info">Account Overview</h2>
        </div>

    </div>
    <br />
    <div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <h5>
                    <label for="myFlightNumber">Enter Flight Number:</label>
                    <input name="FlightNumber" id="myFlightNumber" value="@ViewData["flightNumber"]" onchange="myFunction()" />
                </h5>
                <h5>
                    <label for="myFlightDate">Enter Flight Date:</label>
                    <input type="date" name="FlightDate" id="myFlightDate" value="@ViewData["flightDate"]" onchange="myFunction()" />
                </h5>
                <button type="submit" value="Submit" class="btn-primary">Submit</button>
            </div>
        </form>
        <div>
            @if (ViewBag.Check != null && ViewBag.Check != "")
            {
                <form asp-action="Index" method="get">
                    <label for="Flights">Select Your Flight:</label>
                    <select name="SearchFlight" id="Flights" value="@ViewData["selectedFlight"]" onchange="myFunction()">
                        @for(int i = 0; i < ViewBag.Flights.Length; i++)
                        {
                            <option value="@ViewBag.Flights[i].departure.airport">Airport:@ViewBag.Flights[i].departure.airport Flight Time:@ViewBag.Flights[i].departure.scheduled</option>
                        }
                    </select>
                    <button type="submit" value="Submit" class="btn-primary">Submit</button>
                </form>
             }
             else
             {
                <p></p>
             }
            </div>
    </div>

    <div>
        <table id="tblData" class="table table-striped border">
            <tr class="table-secondary">                
                <th>
                    Name
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.StreetAddress)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.City)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.State)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ZipCode)
                </th>
<<<<<<< HEAD
                <th>
                    @Html.DisplayNameFor(model => model.Airport)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.FlightStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Gate)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Delay)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimatedDeparture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualDeparture)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.EstimatedArrival)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.ActualArrival)
                </th>

                <th></th>
            </tr>
            <tbody>
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => Model.FirstName) @Html.DisplayFor(modelItem => Model.LastName)
                    </td>                     
                    <td>
                        @Html.DisplayFor(modelItem => Model.StreetAddress)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.City)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.State)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => Model.ZipCode)
                    </td>
                    <td class="whiteSpace" colspan="1" width:5px">
                        <a asp-action="Edit" class="btn btn-warning" asp-route-id="@Model.Id"><i class="fa fa-pencil" aria-hidden="true"></i></a>
                        <a asp-action="Details" class="btn btn-info" asp-route-id="@Model.Id"><i class="fas fa-search"></i></a>
                        <a asp-action="Delete" class="btn btn-danger" asp-route-id="@Model.Id"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>     
</div>
