@model IEnumerable<Flight_Tracker.Models.Customer>

@{
    ViewData["Title"] = "Home";
}

<h1>Home</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FlightNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StreetAddress)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.City)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.State)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ZipCode)
            </th>
          
            <th>
                @Html.DisplayNameFor(model => model.Airport)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FlightStatus)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Delay)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualDeparture)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EstimatedArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ActualArrival)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdentityUser)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

