@model Flight_Tracker.Models.CustomerFlightInfoViewModel

@{
    ViewData["Title"] = "Home";
}

<br />
<div class="border backgroundWhite">
    <div class="row">
        <div class="col-6">
            <h2 class="text-info">Account Overview</h2>
        </div>
    </div>
    <br />
    <div>
        <form asp-action="Index" method="get">
            <div class="form-actions no-color">
                <h5>
                    <label for="myFlightNumber">Enter Flight Number:</label>
                    <input name="FlightNumber" id="myFlightNumber" value="Ex:DL737" onchange="myFunction()" />
                </h5>
                <button type="submit" value="Submit" class="btn-primary">Submit</button>
            </div>
        </form>
        <div>
            @if (ViewBag.Check != null && ViewBag.Check != "")
            {
                <form asp-action="Index" method="get">
                    <label for="Flights">Select Your Flight:</label>
                    <select name="SearchFlight" id="Flights" value="Flight Number" onchange="myFunction()">
                        @for (int i = 0; i < ViewBag.Flights.Length; i++)
                        {
                            <option value="@i.ToString()">Airport:@ViewBag.Flights[i].departure.airport Flight Time:@ViewBag.Flights[i].departure.scheduled</option>
                        }
                    </select>
                    <button type="submit" value="Submit" class="btn-primary">Submit</button>
                </form>
            }
            else
            {
                <p></p>
            }
        </div>
    </div>

    <div>

        <table id="tblData" class="table table-striped border">
            <tr class="table-secondary">

            <thead>
                <tr>
                    <th>
                        Flight Number
                    </th>
                    <th>
                        Airline
                    </th>
                    <th>
                        Gate
                    </th>
                    <th>
                        Departure Date/TIme
                    </th>
                    <th>
                        Departing Airport
                    </th>
                    <th>
                        Arrival Date/Time
                    </th>
                    <th>
                        Arrival Airport
                    </th>
                    <th>
                        Travel Time
                    </th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Flights)
                {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.FlightNumber)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Airline)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Gate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedDeparture)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Airport)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.EstimatedArrival)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.ArrivalAirport)
                    </td>
                    <td>
                        placeholder
                    </td>
                    <td class="whiteSpace" colspan="1" width:5px">
                        <form asp-action="FlightInfo" method="get">
                            <button type="submit" name="flightId" class="btn btn-warning" value="@item.Id"><i class="fas fa-search-plus" aria-hidden="true"></i></button>
                        </form>
                    </td>
                </tr>
                }
            </tbody>

        </table>
    </div>
</div>

